@import "node_modules/argo-ux/styles/colors";

.pods {
  &__container {
    display: flex;
  }
}

.revision {
  padding: 15px;
  margin-bottom: 1em;
  background: none;

  &__background {
    background: $argo-color-gray-2;
    border: 1px solid $argo-color-gray-4;
    border-radius: 5px;
  }

  &--dark > &__background {
    border: none;
    background: $slate;
  }

  &:hover > &__background {
    transform: scale(1.02);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    font-size: 18px;
    font-weight: 500;
    &__button {
      cursor: pointer;
      &:hover {
        color: $sea;
      }
      &--dark:hover {
        color: $sky;
      }
    }
  }
}

.steps {
  flex-shrink: 0;
  max-height: 500px;
  overflow-y: auto;

  &__step {
    padding: 15px 18px;

    &__background {
      border-radius: 10px;
      border: 1px solid $argo-color-gray-4;
      &--dark {
        border: 1px solid $silver-lining;
      }
    }

    &:hover > &__background {
      border: 1px solid $sherbert;
    }

    &--complete > &__background {
      border: 2px solid $argo-success-color;
    }

    &--complete:hover > &__background {
      border: 2px solid $argo-success-color;
    }

    &--current > &__background {
      border: 2px solid $sherbert;
    }

    &--current:hover > &__background {
      border: 2px solid $sherbert;
    }

    &:hover > &__background {
      transform: scale(1.02);
    }
  }

  &__connector {
    height: 1em;
    width: 2px;
    background-color: $argo-color-gray-4;
    margin: 0 auto;
    &--dark {
      background-color: $silver-lining;
    }
  }
}
